<ion-header>
</ion-header> 

<ion-content padding>
  <br>  
  <div class='container'>
    <ion-icon name='arrow-round-back' large class='back' (click)="voltar()"></ion-icon>
    <h3 style="text-align:center">Cadastrar novo paciente</h3> 
    <ion-list>
      <ion-item> 
        <ion-label floating>
          <ion-icon name='folder'></ion-icon>  
          Prontuário*
        </ion-label>
        <ion-input type="text" [(ngModel)]="usuario.prontuario" (keyup)="selecionaUsuario(usuario.prontuario)"></ion-input>
      </ion-item>
    </ion-list> 
    <form padding novalidate class="list" *ngIf='usuario.prontuario != "" && temUsuario'>
      <p class='texto1'>Este número de prontuário já está cadastrado para o seguinte paciente:</p>
      <ion-item>
        <ion-label >
          <ion-icon name='person'></ion-icon>  
          Nome: 
          <br/><br/>
          {{usuarioSelecionado.nome}} {{usuarioSelecionado.sobrenome}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label >
          <ion-icon name='calendar'></ion-icon>  
          Data de Nascimento: 
          <br/><br/>
          {{usuarioSelecionado.dtNasc}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label >
          <ion-icon name='contact'></ion-icon>  
          Login: {{usuarioSelecionado.login}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label >
          <ion-icon name='lock'></ion-icon>  
          Senha: {{usuarioSelecionado.senha}}
        </ion-label>
      </ion-item>
      <pre></pre>
      <ion-buttons class='acessos'>
        <button class='botao-acessa' ion-button (click)="voltar()">Voltar</button>
      </ion-buttons>
    </form>
    <form padding [formGroup]='usuarioForm' novalidate class="list" *ngIf='usuario.prontuario != "" && !temUsuario'>
      <ion-item>
        <ion-label floating>
          <ion-icon name='person'></ion-icon>  
          Nome*
        </ion-label>
        <ion-input type="text" [(ngModel)]="usuario.nome" formControlName="nome"></ion-input>
      </ion-item>
      <h6 *ngIf='erroNome' class='error'>{{messageNome}}</h6>
      <ion-item>
        <ion-label floating>
          <ion-icon name='person'></ion-icon>  
          Sobrenome*
        </ion-label>
        <ion-input type="text" [(ngModel)]="usuario.sobrenome" formControlName="sobrenome"></ion-input>
      </ion-item>
      <h6 *ngIf='erroSobrenome' class='error'>{{messageSobrenome}}</h6>
      <ion-item>
        <ion-label stacked>
          <ion-icon name='calendar'></ion-icon>  
          Data de Nascimento*
        </ion-label>
        <ion-input type="date" [(ngModel)]="usuario.dtNasc" formControlName="dtNasc"></ion-input>
      </ion-item>
      <h6 *ngIf='erroDtNasc' class='error'>{{messageDtNasc}}</h6>
      <pre></pre>
      <ion-buttons class='acessos'>
        <button class='botao-acessa' ion-button (click)="voltar()">Voltar</button>
        <button class='fica' *ngIf='usuarioSelecionado == null || usuarioSelecionado.length == 0' ion-button (click)='addUsuario(usuario)'>Cadastrar</button>
      </ion-buttons>
    </form>
  </div>
</ion-content>