<ion-header>
</ion-header> 

<ion-content padding>
  <br>  
  <div class='container'>
    <ion-icon name='arrow-round-back' large class='back' (click)="voltar()"></ion-icon>
    <h3 style="text-align:center">Administrador</h3>
    <p style="text-align:center">Cadastrar novo usuário</p>

    <ion-list>
      <ion-item>
        <ion-label floating>
          <ion-icon name='contact'></ion-icon>  
          CPF*
        </ion-label>
        <ion-input type="text" [(ngModel)]="usuario.cpf" (keyup)="selecionaUsuario(usuario.cpf)"></ion-input>
      </ion-item>
    </ion-list> 
    <ion-list class="list" *ngIf='usuario.cpf != "" && temUsuario'>
      <ion-item>
        <ion-label >
          <ion-icon name='person'></ion-icon>  
          Nome: {{usuarioSelecionado.nome}} {{usuarioSelecionado.sobrenome}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label >
          <ion-icon name='mail'></ion-icon>  
          E-mail: {{usuarioSelecionado.email}}
        </ion-label>
      </ion-item>
      <p class='texto1'>Este usuário já está administrando os seguintes galpões:</p>
      <p *ngFor='let galpaoUser of usuarioSelecionadoGalpao'>
          {{galpaoUser}}
      </p>
      <p class='texto1'>Selecione abaixo a unidade e galpão ao qual deseja incluir este usuário:</p>
      <ion-item>
        <ion-label>Unidade*</ion-label>
        <ion-select [(ngModel)]="unidade.key" class="select" (ionChange)="selecionaGalpao(unidade.key)">
          <ion-option class="option" *ngFor='let unidade of unidades' value={{unidade.key}}>{{unidade.nomeUnidade}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Galpao*</ion-label>
        <ion-select *ngIf='galpoes.length > 0' [(ngModel)]="galpao.key" class="select" (ionChange)="exibirGalpaoSelecionado(galpao.key)">
            <ion-option class="option" *ngFor='let galpao of galpoes' value={{galpao.key}}>{{galpao.nomeGalpao}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list class="list" *ngIf='usuario.cpf != "" && !temUsuario'>
      <ion-item>
        <ion-label floating>
          <ion-icon name='person'></ion-icon>  
          Nome*
        </ion-label>
        <ion-input type="text" [(ngModel)]="usuario.nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>
          <ion-icon name='person'></ion-icon>  
          Sobrenome*
        </ion-label>
        <ion-input type="text" [(ngModel)]="usuario.sobrenome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label >
          <pre></pre>
          <ion-icon name='lock'></ion-icon>  
          Senha padrão*: {{usuario.senha}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label floating>
          <ion-icon name='mail'></ion-icon>  
          E-mail*
        </ion-label>
        <ion-input type="text" [(ngModel)]="usuario.email"></ion-input>
      </ion-item>
      <p class='texto1'>Selecione abaixo a unidade e galpão ao qual deseja incluir este usuário:</p>
      <ion-item>
        <ion-label>Unidade*</ion-label>
        <ion-select [(ngModel)]="unidade.key" class="select" (ionChange)="selecionaGalpao(unidade.key)">
          <ion-option class="option" *ngFor='let unidade of unidades' value={{unidade.key}}>{{unidade.nomeUnidade}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Galpao*</ion-label>
        <ion-select *ngIf='galpoes.length > 0' [(ngModel)]="galpao.key" class="select" (ionChange)="exibirGalpaoSelecionado(galpao.key)">
            <ion-option class="option" *ngFor='let galpao of galpoes' value={{galpao.key}}>{{galpao.nomeGalpao}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <pre></pre>
    <ion-buttons class='acessos'>
      <button class='botao-acessa' ion-button (click)="voltar()">Voltar</button>
      <button class='fica' *ngIf='usuarioSelecionado' ion-button (click)='alteraUsuario(unidade.key, galpao.key)'>Cadastrar</button>
      <button class='fica' *ngIf='!usuarioSelecionado' ion-button (click)='addUsuario(unidade.key, galpao.key, usuario)'>Cadastrar</button>
    </ion-buttons>
  </div>
</ion-content>