.menuToggle {
    color: #556B2F;
}

.content{
    background-color: #E0FFFF;
    color: #556B2F;
}

.item{
    background-color: #E0FFFF;
    color: #556B2F;
}

.botao {
    text-align: center;
    color: #556B2F;
}

.button {
    text-align: center;
    color: #E0FFFF;
    background-color: #556B2F;
}

.logoOrgGalp{
    text-align-last: center;
}