.menuToggle {
    color: #B04B59;
}

.content{
    background-color: #FEFBE4;
    color: #B04B59;
}

.item{
    background-color: #FEFBE4;
    color: #B04B59;
}

.botao {
    text-align: center;
    color: #B04B59;
}

.button {
    text-align: center;
    color: #FEFBE4;
    background-color: #B04B59;
}

.botao-esqueci {
    background-color: #FEFBE4;
    color: #B04B59;
}