<ion-header>
</ion-header> 

<ion-content padding>
  <br>  
  <div class='container'> 
    <div style='display: inline'>
    <ion-icon name='arrow-round-back' large class='back' (click)="voltar()"></ion-icon>
    <ion-list>
      <h3 class='linha'>
        <h3 class='item-left'>Posição {{posicao}}</h3>
        <ion-icon end class="item-top" name='document' (click)='abreObs()'></ion-icon>
        <ion-icon end class="item-top" name='add' (click)='criaPasta()'></ion-icon><br>
        <p class='texto4'>P = Profundidade &emsp; A = Altura &emsp; L = Largura</p>
      </h3>
    </ion-list>
    </div>
   
    <ion-list class='esq'>
        
      <ion-item class="option" *ngFor='let pasta of pastas'>
        <p class="texto3 item-left" (click)='apagaPasta(pasta.key)'>{{pasta.key}}</p>
        <ion-icon end class='item-top' name='add' (click)='addItem(pasta.key)'></ion-icon>
        <ion-list>
          <ion-item class="option esq" *ngFor='let item of pasta.itens'>
            <p (click)='apagaItem(item.key, pasta.key)'>{{item.item}}</p>
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-list>
    <pre></pre>
    <ion-buttons class='acessos'>
      <button class='botao-acessa' ion-button (click)="voltar()">Voltar</button>
      <pre></pre>
    </ion-buttons>
  </div>


</ion-content>
