page-manter-posicao {

    .texto4{
        font-size: 12px;
        text-align-last: left;
    }

    .texto3{
        font-weight: 600;
        font-size: 120%;        

        .item-left{
            padding-left: 0;
            display: inline-flex;
            float: left;
            padding-inline-start: 0px;
        }
    }

    .linha{
        display: inline;
    }

    .esq{
        margin-left: 0;
        padding-left: 0;
        border-left: 0;
    }

    .item-left{
        padding-left: 0;
        display: inline-flex;
        float: left;
        padding-inline-start: 0px;
    }
    
    
    .item-top {
        padding-left: 20px;
        padding-inline-end: 0px;
        display: inline-flex;
        float: right;
    }

    
    .item{
        margin-left: 16px;
        padding-left: 16px;
        border-left: 16px;
        align-self: flex-end;
        display: flex;
        justify-content: flex-end;

        .esq{
            margin-left: 0;
            padding-left: 0;
            border-left: 0;
        }
    }

    .item-self {
        align-self: flex-start;
    }

    
    @media only screen and (min-width: 600px){
     
        .container{
            width: 60%;
            height: 100%;
            margin: auto;
        }
    
        .back{
            display: none
        }
    }
    
    @media only screen and (max-width: 600px){
     
        .botao-acessa{
            display: none
        }
    }


}
