page-manter-posicao {

    .texto3{
        font-weight: 600;
        font-size: 120%;
    }

    .parent {
      display: flex;
      flex-direction: column;
    }
    
    .item {
        margin-right: 16px;
        padding-right: 16px;
        border-right: 16px;
        align-self: flex-end;
    }

    .item-self {
        align-self: flex-start;
    }

    
    @media only screen and (min-width: 600px){
     
        .container{
            width: 60%;
            height: 100%;
            margin: auto;
        }
    
        .back{
            display: none
        }
    }
    
    @media only screen and (max-width: 600px){
     
        .botao-acessa{
            display: none
        }
    }


}
