page-home-recep {

.botaoAlert{
    background-color: #556B2F;
    color: #E0FFFF;
}

.acessos{
    text-align-last: center;
}
@media only screen and (min-width: 600px){
     
    
    .container{
        width: 60%;
        display: 100%;
        display: table;
    }

    .subcontainer{
        display: table-row;

    }

    .back{
        display: none
    }
}

@media only screen and (max-width: 600px){
 
    .botao-acessa{
        display: none
    }

    .container{
        height: 90%;
        display: table;
    }

    .subcontainer{
        display: table-row;
        height: 100%;
        vertical-align: middle;
    }
}


}
