<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Testando three JS
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-buttons>
    <button ion-button (click)="x()">X</button>
    <button ion-button (click)="y()">Y</button>
    <button ion-button (click)="z()">Z</button>
    <button ion-button (click)="zoom()">Zoom</button>
  </ion-buttons>
  
  <div #domObj></div>
</ion-content> -->

<!-- /************************** daqui para baixo é o que vai ser usado se nada der certo **********************************/ -->


<!-- <ion-header>
</ion-header> 

<ion-content padding>
  <br>  
  <div class='container'>
    <ion-icon name='arrow-round-back' large class='back' (click)="voltar()"></ion-icon>
    <h5 style="text-align:center">Galpão {{nomeGalpao}} - Unidade {{nomeUnidade}}</h5>
    <p class='texto4'>P = Profundidade &emsp; A = Altura &emsp; L = Largura</p>
    <ion-list>
      <button ion-item *ngFor='let opcao of opcoes' (click)='opcaoEscolhida($event,opcao)'>
        {{opcao.posicao}}
      </button>
    </ion-list> 
    <ion-buttons class='acessos'>
      <button class='botao-acessa' ion-button (click)="voltar()">Voltar</button>
      <button class='fica' ion-button (click)="liberarGalpao()">Liberar Galpao</button>
    </ion-buttons>
  </div>
</ion-content> -->

<!-- /************************** daqui para baixo é teste com card **********************************/ -->


<ion-header>
  </ion-header> 
  
  <ion-content padding class="card-background-page">

    <br>  
    <div class='container'>
      <ion-icon name='arrow-round-back' large class='back' (click)="voltar()"></ion-icon>
      <h5 style="text-align:center">Galpão {{nomeGalpao}} - Unidade {{nomeUnidade}}</h5>
      <p class='texto4'>P = Profundidade &emsp; A = Altura &emsp; L = Largura</p>
      <ion-buttons class='acessos'>
        <button class= 'botaoZoom' ion-button (click)="zoom()">Alterar profundidade</button>
      </ion-buttons>
      <p class='texto5'>Profundidade atual: {{profZoom}}</p>
      <ion-card #domObj>
        <!-- <img *ngIf='imagem' src="{{galpao.imagem}}">
        <img *ngIf='!imagem' src="{{exemploImg}}"> -->
        <div class="card-subtitle">
          <ion-grid class='fundo-grid' >
            <ion-row class='fundo-row' *ngFor='let posLinha of jsonPositions'>
              <ion-col class='fundo-colum' *ngFor='let posCol of posLinha'>
                <div class='fundo' [ngStyle]="tamanhoLinha()" (click)='opcaoEscolhida(posCol)'>
                  {{posCol}}
                </div>
              </ion-col>
            </ion-row >
          </ion-grid>
        </div>
      </ion-card>
      <ion-buttons class='acessos'>
        <button class='botao-acessa' ion-button (click)="voltar()">Voltar</button>
        <button class='fica' ion-button (click)="liberarGalpao()">Liberar Galpao</button>
      </ion-buttons>
    </div>
  </ion-content>

<!-- 
<ion-content class="card-background-page">
  <ion-card>
    <img src="{{exemploImg}}"/>
    <div class="card-title">Amsterdam</div>
    <div class="card-subtitle">
      <ion-grid>
        <ion-row class='linha'>
          <ion-col>
            <div>
              P1-A1-L1
            </div>
          </ion-col>
          <ion-col>
            <div (click)='voltar()' class='linha'>
              P1-A1-L2
            </div>
          </ion-col>
          <ion-col>
            <div>
              P1-A1-L3
            </div>
          </ion-col>
        </ion-row >
        <ion-row class='linha'>
          <ion-col>
            <div>
              P1-A2-L1
            </div>
          </ion-col>
          <ion-col>
            <div>
              P1-A2-L2
            </div>
          </ion-col>
          <ion-col>
            <div>
              P1-A2-L3
            </div>
          </ion-col>
        </ion-row>
        <ion-row class='linha'>
          <ion-col>
            <div>
              P1-A3-L1
            </div>
          </ion-col>
          <ion-col>
            <div>
              P1-A3-L2
            </div>
          </ion-col>
          <ion-col>
            <div>
              P1-A3-L3
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>
</ion-content> -->
