<ion-header>
</ion-header> 

<ion-content padding>
  <br>  
  <div class='container'>
    <ion-icon name='arrow-round-back' large class='back' (click)="voltar()"></ion-icon>
    <h3 style="text-align:center">Administrador</h3>
    <p style="text-align:center">Galpões cadastrados</p>

    <ion-list class="list">
      <ion-item>
        <ion-label>Unidade</ion-label>
        <ion-select [(ngModel)]="unidade.key" class="select" (ionChange)="listaGalpaoPorUnidade(unidade.key)">
            <ion-option class="option" *ngFor='let unidade of unidades' value={{unidade.key}}>{{unidade.nomeUnidade}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-list>
        <ion-item class="option" *ngFor='let galpao of galpoes'>
          <p class="texto3">
            Nome do Galpão: {{galpao.nomeGalpao}}<br/>
            Largura: {{galpao.largura}}<br/>
            Altura: {{galpao.altura}}<br/>
            Profundidade: {{galpao.profundidade}}
          </p>
          <ion-list>
            <br/>
            <p class="texto3">Administradores:</p>
            <ion-item class="option" *ngFor='let gal of galpao.usuarios'>
              <p>Nome: {{gal.nome}} {{gal.sobrenome}}</p>
              <p>CPF: {{gal.cpf}} </p>
              <p>E-mail: {{gal.email}}</p>
            </ion-item>
          </ion-list>
        </ion-item>
      </ion-list>
    </ion-list>
    <pre></pre>
    <ion-buttons class='acessos'>
      <button class='botao-acessa' ion-button (click)="voltar()">Voltar</button>
    </ion-buttons>
  </div>
</ion-content>