<ion-header>
</ion-header> 

<ion-content padding>
  <br>
  <div class='container'>
    <ion-icon name='arrow-round-back' large class='back' (click)="voltar()"></ion-icon>
    <h3 style="text-align:center">Administrador</h3>
    <p style="text-align:center">Alterar Administrador</p>
    <form padding [formGroup]='usuarioCpfForm' novalidate class="list" >
      <ion-item>
        <ion-label>CPF</ion-label>
        <ion-input type="text" [(ngModel)]="usuarioCpf" (keyup)='selecionaUsuario(usuarioCpf)' formControlName="cpf" [brmasker]="{mask:'999.999.999-99', len:14, type:'num'}"></ion-input>
      </ion-item>
      <h6 *ngIf='erroUsuarioCpf' class='error'>{{messageUsuarioCpf}}</h6>
      <h6 *ngIf='semUsuario' class='error'>{{messageSemUsuario}}</h6>
    </form>
    <form padding [formGroup]='usuarioForm' novalidate class="list" *ngIf='usuarioSelecionado'>
      <!-- <ion-list  class="list" *ngIf='usuarioSelecionado'>   -->
        <ion-item *ngFor='let usuarioSel of usuarioSelecionado'>
          <ion-label>
            Nome
          </ion-label>
          <ion-input type="text" [(ngModel)]="usuario.nome" placeholder="{{usuarioSel.nome}}" formControlName="nome"></ion-input>
        </ion-item>
        <ion-item *ngFor='let usuarioSel of usuarioSelecionado'>
          <ion-label>
            Sobrenome
          </ion-label>
          <ion-input type="text" [(ngModel)]="usuario.sobrenome" placeholder="{{usuarioSel.sobrenome}}" formControlName="sobrenome"></ion-input>
        </ion-item>
        <ion-item *ngFor='let usuarioSel of usuarioSelecionado'>
          <ion-label>
            E-mail
          </ion-label>
          <ion-input type="text" [(ngModel)]="usuario.email" placeholder="{{usuarioSel.email}}" formControlName="email"></ion-input>
        </ion-item>
        <ion-item *ngFor='let usuarioSel of usuarioSelecionado'>
          <ion-label>
            CPF
          </ion-label>
          <ion-input type="text" [(ngModel)]="usuario.cpf" placeholder="{{usuarioSel.cpf}}" formControlName="cpf" [brmasker]="{mask:'999.999.999-99', len:14, type:'num'}"></ion-input>
        </ion-item>
      <pre></pre>
      <h6 *ngIf='erroUsuario' class='error'>{{messageUsuario}}</h6>
      <ion-buttons class='acessos'>
        <button class='botao-acessa' ion-button (click)="voltar()">Voltar</button> 
        <button class='fica' ion-button (click)="alteraUsuario(usuario)">Alterar Administrador</button>
      </ion-buttons>
    </form>
  </div>
</ion-content>