<ion-header>
</ion-header> 

<ion-content padding>
  <br>  
  <div class='container'>
    <ion-icon name='arrow-round-back' large class='back' (click)="voltar()"></ion-icon>
    <h3 style="text-align:center">Administrador</h3>
    <p style="text-align:center">Excluir usuário</p>
    <ion-list class="list">
      <ion-item>
        <ion-label>CPF</ion-label>
        <ion-input type="text" [(ngModel)]="usuarioCpf" (keyup)='selecionaUsuario(usuarioCpf)'></ion-input>
      </ion-item>
      <ion-list class="list" *ngIf='usuarioSelecionado'>
        <ion-item *ngFor='let usuarioSel of usuarioSelecionado'>
          <ion-label>
            Nome: {{usuarioSel.nome}} {{usuarioSel.sobrenome}}
          </ion-label>
        </ion-item>
        <ion-item *ngFor='let usuarioSel of usuarioSelecionado'>
          <ion-label>
            E-mail: {{usuarioSel.email}}
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list class="list" *ngIf='mensagem.length > 0'>
        <ion-item *ngFor='let mens of mensagem'>
          <ion-label class='listaRadio'>
            Unidade: {{mens.unidade}} <br> Galpão: {{mens.galpao}}
          </ion-label>
          <ion-checkbox slot="mens.uniKey" [(ngModel)]="mens.isChecked"></ion-checkbox>
        </ion-item>
      </ion-list>
      <br>
      <p  class='texto1'>
        <ion-icon name='alert'></ion-icon>
        Atenção! A exclusão do Usuário de todos os galpões, implica na exclusão permanente do usuário no sistema.
      </p>
      <p class='texto2'> ESSA AÇÃO NÃO PODERÁ SER DESFEITA!</p>
    </ion-list>
    <pre></pre>
    <ion-buttons class='acessos'>
      <button class='botao-acessa' ion-button (click)="voltar()">Voltar</button>
      <button class='fica' ion-button (click)="deletaUsuario(mensagem)">Excluir</button>
    </ion-buttons>
  </div>
</ion-content>
