<ion-header>
  </ion-header> 
  
  <ion-content padding>
    <br>  
    <div class='container'>
      <ion-icon name='arrow-round-back' large class='back' (click)="voltar()"></ion-icon>
      <h3 style="text-align:center">Administrador</h3>
      <p style="text-align:center">Cadastrar novo Administrador</p>
      <ion-list>
        <ion-item>
          <ion-label floating>
            <ion-icon name='contact'></ion-icon>  
            CPF*
          </ion-label>
          <ion-input type="text" [(ngModel)]="usuario.cpf" (keyup)="selecionaUsuario(usuario.cpf)" [brmasker]="{mask:'999.999.999-99', len:14, type:'num'}"></ion-input>
        </ion-item>
      </ion-list> 
      <!-- <form padding [formGroup]='usuarioExistenteForm' novalidate class="list" *ngIf='usuario.cpf != "" && temUsuario'> -->
          <ion-list class="list" *ngIf='usuario.cpf != "" && temUsuario'>
            <ion-item>
              <ion-label >
                <ion-icon name='person'></ion-icon>  
                Nome: {{usuarioSelecionado.nome}} {{usuarioSelecionado.sobrenome}}
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label >
                <ion-icon name='mail'></ion-icon>  
                E-mail: {{usuarioSelecionado.email}}
              </ion-label>
            </ion-item>
            <p class='texto1'>Este usuário já está cadastrado como Administrador!</p>
          </ion-list>
          <form padding [formGroup]='usuarioForm' novalidate class="list" *ngIf='usuario.cpf != "" && !temUsuario'>
          <!-- <ion-list class="list" *ngIf='usuario.cpf != "" && !temUsuario'> -->
            <ion-item>
              <ion-label floating>
                <ion-icon name='person'></ion-icon>  
                Nome*
              </ion-label>
              <ion-input type="text" [(ngModel)]="usuario.nome" formControlName="nome"></ion-input>
            </ion-item>
            <h6 *ngIf='erroNome' class='error'>{{messageNome}}</h6>
            <ion-item>
              <ion-label floating>
                <ion-icon name='person'></ion-icon>  
                Sobrenome*
              </ion-label>
              <ion-input type="text" [(ngModel)]="usuario.sobrenome" formControlName="sobrenome"></ion-input>
            </ion-item>
            <h6 *ngIf='erroSobrenome' class='error'>{{messageSobrenome}}</h6>
            <ion-item>
              <ion-label >
                <pre></pre>
                <ion-icon name='lock'></ion-icon>  
                Senha padrão*: {{usuario.senha}}
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label floating>
                <ion-icon name='mail'></ion-icon>  
                E-mail*
              </ion-label>
              <ion-input type="text" [(ngModel)]="usuario.email" formControlName="email"></ion-input>
            </ion-item>
            <h6 *ngIf='erroEmail' class='error'>{{messageEmail}}</h6>
          <!-- </ion-list> -->
            <pre></pre>
            <ion-buttons class='acessos'>
              <button class='botao-acessa' ion-button (click)="voltar()">Voltar</button>
              <button class='fica' *ngIf='usuarioSelecionado == null || usuarioSelecionado.length == 0' ion-button (click)='addAdmin(usuario)'>Cadastrar</button>
              <!-- <button class='fica' *ngIf='usuarioSelecionado != 0' ion-button (click)='alteraUsuario(unidade.key, galpao.key)'>Cadastrar</button> -->
            </ion-buttons>
          </form>
<!--       
      <ion-list>
        <ion-item>
          <ion-label floating>
            <ion-icon name='person'></ion-icon>  
            Nome*
          </ion-label>
          <ion-input type="text" [(ngModel)]="usuario.nome"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>
            <ion-icon name='person'></ion-icon>  
            Sobrenome*
          </ion-label>
          <ion-input type="text" [(ngModel)]="usuario.sobrenome"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>
            <ion-icon name='contact'></ion-icon>  
            CPF*
          </ion-label>
          <ion-input type="text" [(ngModel)]="usuario.cpf" [brmasker]="{mask:'999.999.999-99', len:14, type:'num'}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label >
            <ion-icon name='lock'></ion-icon>  
            Senha padrão*: {{usuario.senha}}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label floating>
            <ion-icon name='mail'></ion-icon>  
            E-mail*
          </ion-label>
          <ion-input type="text" [(ngModel)]="usuario.email"></ion-input>
        </ion-item>
      </ion-list>
      <pre></pre>
      <ion-buttons class='acessos'>
        <button class='botao-acessa' ion-button (click)="voltar()">Voltar</button>
        <button class='fica' ion-button (click)='addAdmin(usuario)'>Cadastrar</button>
      </ion-buttons> -->
    </div>
  </ion-content>