<ion-header>
</ion-header> 

<ion-content padding>
  <br>  
  <div class='container'>
    <ion-icon name='arrow-round-back' large class='back' (click)="voltar()"></ion-icon>
    <h3 style="text-align:center">Administrador</h3>
    <p style="text-align:center">Excluir unidade</p> 
    <form padding [formGroup]='unidadeForm' novalidate class="list">
      <ion-item>
        <ion-label>Unidade</ion-label>
        <ion-select [(ngModel)]="unidade.key" class="select" formControlName="uni" (ionChange)="zeraErro()">
            <ion-option class="option" *ngFor='let unidade of unidades' value={{unidade.key}}>{{unidade.nomeUnidade}}</ion-option>
        </ion-select>
      </ion-item>
      <h6 *ngIf='erroUnidade' class='error'>{{messageUnidade}}</h6>
      <br>
      <p  class='texto1'>
        <ion-icon name='alert'></ion-icon>
        Atenção! A exclusão de unidade realiza também a exclusão de todos os galpões e seus conteúdos vinculados a ela.
      </p>
      <p class='texto2'> ESSA AÇÃO NÃO PODERÁ SER DESFEITA!</p>
      <pre></pre>
      <ion-buttons class='acessos'>
        <button class='botao-acessa' ion-button (click)="voltar()">Voltar</button>
        <button class='fica' ion-button (click)="deletaUnidade(unidade.key)">Excluir</button>
      </ion-buttons>
    </form>
  </div>
</ion-content>
