page-excluir-unidade {

.texto1{
    text-align: justify;    
}

.texto2{
    text-align: center;    
}

.acessos{
    text-align-last: center;
}
@media only screen and (min-width: 600px){
     
    .container{
        width: 60%;
        height: 100%;
        margin: auto;
    }

    .back{
        display: none
    }
}

@media only screen and (max-width: 600px){
 
    .botao-acessa{
        display: none
    }
}

}
