.select .option{
    background-color: #FEFBE4;
    color: #B04B59;
}

.botao-acessaMenor{
    font-size: 80%;
    float: right;
}

@media only screen and (min-width: 600px){
     
    .container{
        width: 60%;
        height: 100%;
        margin: auto;
    }
}

