<ion-header>
</ion-header> 

<ion-content padding>
  <br>  
  <div class='container'>
    <ion-icon name='arrow-round-back' large class='back' (click)="voltar()"></ion-icon>
    <h3 style="text-align:center">Administrador</h3>
    <p style="text-align:center">Cadastrar novo galpão</p>
    <form padding [formGroup]='qtdeForm' novalidate class="list">
    <!-- <ion-list class='list'> -->
      <p class='texto1'>Quantos galpões com as mesmas configurações deseja cadastrar?</p>
      <ion-item>
        <ion-input type="text" [(ngModel)]="qtdeGalpoes" [brmasker]="{len:2, type: 'num'}" formControlName="qtde" placeholder="ex.: 5" (keyup)='geraArrayGalpoes(qtdeGalpoes)'></ion-input>
      </ion-item>
      <h6 *ngIf='erroQtde' class='error'>{{messageQtde}}</h6>
    </form> 
    <br class='br'>
    <br>
    <form padding [formGroup]='galpaoUniForm' novalidate class="list" *ngIf='galpoes.length > 0'>
    <!-- <ion-list *ngIf='galpoes.length > 0' class="list"> -->
      <ion-item *ngIf='keyU == null'>
        <ion-label>Unidade*</ion-label>
        <ion-select [(ngModel)]="novaKey" class="select" formControlName="unidadeG">
          <ion-option class="option" *ngFor='let unidade of unidades' value={{unidade.key}}>{{unidade.nomeUnidade}}</ion-option>
        </ion-select>
      </ion-item>
      <h6 *ngIf='erroUnidade' class='error'>{{messageUnidade}}</h6>
    </form>
    <form padding [formGroup]='galpaoForm' novalidate class="list" *ngIf='galpoes.length > 0'>
      <br *ngIf='galpoes.length > 1' class='br'>
      <br>
      <p *ngIf='galpoes.length > 1' style="text-align:center">Digite abaixo o nome de cada novo galpão:</p>
      <ion-item *ngFor='let galpao of galpoes; let i = index'>
        <ion-label floating>
          Nome do galpão*
        </ion-label>
        <ion-input type="text" [(ngModel)]="nomesGalpao[i]" formControlName="nomeGalpaoG"></ion-input>
      </ion-item>
      <h6 *ngIf='erroNomeGalpao' class='error'>{{messageNomeGalpao}}</h6>
      <br *ngIf='galpoes.length > 1' class='br'>
      <br>
      <p *ngIf='galpoes.length > 1' style="text-align:center">Digite abaixo os dados (dados comuns a todos os galpões):</p>
      <ion-item>
        <ion-label floating>
          Largura*
        </ion-label>
        <ion-input type="text" [(ngModel)]="galpao.largura" formControlName="larguraG" maxlength="5"></ion-input>
      </ion-item>
      <h6 *ngIf='erroLargura' class='error'>{{messageLargura}}</h6>
      <ion-item>
        <ion-label floating>
          Altura*
        </ion-label>
        <ion-input type="text" [(ngModel)]="galpao.altura" formControlName="alturaG" maxlength="5"></ion-input>
      </ion-item>
      <h6 *ngIf='erroAltura' class='error'>{{messageAltura}}</h6>
      <ion-item>
        <ion-label floating>
          Profundidade*
        </ion-label>
        <ion-input type="text" [(ngModel)]="galpao.profundidade" formControlName="profundidadeG" maxlength="5"></ion-input>
      </ion-item>
      <h6 *ngIf='erroProfundidade' class='error'>{{messageProfundidade}}</h6>
      <pre></pre>
      <p class='texto1'>Clique na imagem abaixo para adicionar a foto do seu galpao</p>
      <p class='texto1' *ngIf= 'galpoes.length > 1'>Se desejar inserir uma foto diferente para cada galpão, após o cadastro, selecionar a opção 'Alterar Galpão'</p>
      <ion-item class='foto'>
        <img src="{{exemploImg}}" (click)="tirarFoto()" >
      </ion-item>
    <!-- </ion-list> -->
      <pre></pre>
      <ion-buttons class='acessos'>
        <button class='botao-acessa' ion-button (click)="voltar()">Voltar</button> 
        <button class='fica' *ngIf='keyU == null' ion-button (click)="addGalpao(nomesGalpao, galpao, novaKey)">Cadastrar</button>
        <button class='fica' *ngIf='keyU != null' ion-button (click)="addGalpaoUni(nomesGalpao, galpao)">Cadastrar</button>
      </ion-buttons>
    </form>
  </div>
</ion-content>
