<ion-header>
</ion-header> 

<ion-content padding>
  <br>  
  <div class='container'>
    <ion-icon name='arrow-round-back' large class='back' (click)="voltar()"></ion-icon>
    <h2>Contato</h2>
    <form action="https://us-central1-organizagalpao.cloudfunctions.net/enviarEmail" method="POST">  
      <form padding [formGroup]='contatoForm' novalidate class="list"> 
        <ion-item>
          <ion-label floating>
            Nome:
          </ion-label>
          <ion-input type="text" [(ngModel)]="nome" name="nome" formControlName="nomeF"></ion-input>
        </ion-item><ion-col width-20>
        <h6 *ngIf='erroNome' class='error'>{{messageNome}}</h6>
        </ion-col>
        <ion-item>
          <ion-label floating>
            E-mail:
          </ion-label>
          <ion-input type="text" [(ngModel)]="emailRemetente" name="emailRemetente" formControlName="emailF"></ion-input> -->
        </ion-item>
        <h6 *ngIf='erroEmail' class='error'>{{messageEmail}}</h6>
        <ion-item>
          <ion-label floating>
            Telefone:
          </ion-label>
          <ion-input type="text" [(ngModel)]="telefone" name="telefone" [brmasker]="{mask:'(99) 99999-9999', len:15, type: 'num'}" formControlName="telF"></ion-input> -->
        </ion-item>
        <ion-item>
          <ion-label floating>
            Mensagem:
          </ion-label>
          <ion-textarea class='textarea' type="text" [(ngModel)]="corpo" name="corpo" rows="5" formControlName="mensagemF"></ion-textarea>
        </ion-item>
        <h6 *ngIf='erroMensagem' class='error'>{{messageMensagem}}</h6>
        <pre></pre>
        <ion-buttons class='acessos'>
          <button class='botao-acessa' ion-button (click)="voltar()">Voltar</button>
          <button class='fica' type="submit" ion-button (click)="enviarContato(corpo, emailRemetente, nome, telefone)">Enviar</button>
        </ion-buttons>
      </form>
    </form>
  </div>
</ion-content>
