.activeHighLight{
    background-color: map-get($colors, light);
}

ion-navbar[hidebackbutton] button[menutoggle] {
    display: block !important;
}

.back{
    background-color: #FEFBE4;
    color: #B04B59;
    font-size: 150%; 
}

.menuToggle{
    background-color: #FEFBE4;
    color: #B04B59;
    font-size: 150%; 
}

.backMenu{
    background-color: #FEFBE4;
    color: #B04B59;
    margin-left: 5%;
    font-size: 150%; 
}

.menu{
    background-color: #FEFBE4;
    color: #B04B59;
}

.select .option{
    background-color: #FEFBE4;
    color: #B04B59;

.scroll-content {overflow-y: auto;}


}
  