.activeHighLight{
    background-color: map-get($colors, light);
}

ion-navbar[hidebackbutton] button[menutoggle] {
    display: block !important;
}

.back{
    background-color: #B04B59;
    color: #FEFBE4;
}

.menu{
    background-color: #FEFBE4;
    color: #B04B59;
}

.botao-acessaMenor{
    float: center;
}

.select .option{
    background-color: #FEFBE4;
    color: #B04B59;

.scroll-content {overflow-y: auto;}


}
  