.activeHighLight{
    background-color: map-get($colors, light);
}

ion-navbar[hidebackbutton] button[menutoggle] {
    display: block !important;
}

.back{
    background-color: #E0FFFF;
    color: #556B2F;
    font-size: 150%; 
}

.menuToggle{
    background-color: #E0FFFF;
    color: #556B2F;
    font-size: 150%; 
}

@media only screen and (max-width: 600px){
    ion-label{
        font-size: 14px;
    }

    ion-input{
        font-size: 12px;
    }

    ion-option{
        font-size: 12px;
    }

    ion-button{
        font-size: 12px;
        text-align-last: center;
    }
}

.backMenu{
    background-color: #E0FFFF;
    color: #556B2F;
    margin-left: 5%;
    font-size: 150%; 
}

.menu{
    background-color: #E0FFFF;
    color: #556B2F;
}

.select .option{
    background-color: #E0FFFF;
    color: #556B2F;

.scroll-content {overflow-y: auto;}

.acessos{
    align-items: center;
    align-items: center;
    align-self: center;
    text-align: center;
    text-align-last: center;
}


}
  