<ion-header>
</ion-header> 

<ion-content padding>
  <br>  
  <div class='container'>
    <ion-icon name='arrow-round-back' large class='back' (click)="voltar()"></ion-icon>
    <h5 style="text-align:center">Galpão {{nomeGalpao}} - Unidade {{nomeUnidade}}</h5>
    <p class='texto4'>P = Profundidade &emsp; A = Altura &emsp; L = Largura</p>
    <ion-searchbar class='busca' [(ngModel)]="searchTerm" (ionInput)="setFilteredItems(searchTerm)" placeholder='Busca item cadastrado'></ion-searchbar>
    <ion-list *ngIf='searchTerm'>
      <ion-item *ngFor="let data of filtro">
        Item:{{data.Item}} <br> Pasta: {{data.Pasta}} <br> Posição: {{data.Posicao}}
      </ion-item>
    </ion-list>   
    <ion-list>
      <ion-item class='foto'>
        <p class='texto5'>Selecione a imagem para acessar o seu galpão</p>
        <img *ngIf='imagem' src="{{galpao.imagem}}" (click)="posicoes()">
        <img *ngIf='!imagem' src="{{exemploImg}}" (click)="posicoes()">
      </ion-item>
    </ion-list>
    <ion-buttons class='acessos'>
      <button class='botao-acessa' ion-button (click)="voltar()">Voltar</button>
    </ion-buttons>
  </div>
</ion-content>
