page-galpao-selecionado {
    .acessos{
        text-align-last: center;
    }

    .texto4{
        font-size: 12px;
        text-align-last: center;
    }

    .texto5{
        font-size: 14px;
        text-align-last: center;
        white-space: normal;
    }

    .foto{
        text-align-last: center;
    }
    
    .busca{
        background-color: #B04B59;
        // background-size: 50px;
        // border: 2px;
        // width: 20px;
        // max-width: 20px;
        // width: 60%;
    }

    @media only screen and (min-width: 600px){
     
        .container{
            width: 60%;
            height: 100%;
            margin: auto;
        }
    
        .back{
            display: none
        }
    }
    
    @media only screen and (max-width: 600px){
     
        .botao-acessa{
            display: none
        }
    }
    
}
