<ion-header>
</ion-header> 

<ion-content padding>
  <br>  
  <div class='container'>
    <ion-icon name='arrow-round-back' large class='back' (click)="voltar()"></ion-icon>
    <h3 style="text-align:center">Administrador</h3>
    <p style="text-align:center">Excluir galpão</p>
    <ion-list class="list">
      <ion-item>
        <ion-label>Unidade</ion-label>
        <ion-select [(ngModel)]="unidade.key" class="select" (ionChange)="selecionaGalpao(unidade.key)">
            <ion-option class="option" *ngFor='let unidade of unidades' value={{unidade.key}}>{{unidade.nomeUnidade}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Galpao</ion-label>
        <ion-select *ngIf='galpoes.length > 0' [(ngModel)]="galpao.key" class="select">
            <ion-option class="option" *ngFor='let galpao of galpoes' value={{galpao.key}}>{{galpao.nomeGalpao}}</ion-option>
        </ion-select>
      </ion-item>
      <br>
      <p  class='texto1'>
        <ion-icon name='alert'></ion-icon>
        Atenção! A exclusão de galpão realiza também a exclusão de todos os conteúdos vinculados a ele.
      </p>
      <p class='texto2'> ESSA AÇÃO NÃO PODERÁ SER DESFEITA!</p>
    </ion-list>
    <pre></pre>
    <ion-buttons class='acessos'>
      <button class='botao-acessa' ion-button (click)="voltar()">Voltar</button>
      <button class='fica' ion-button (click)="deletaGalpao(unidade.key, galpao.key)">Excluir</button>
    </ion-buttons>
  </div>
</ion-content>
