page-add-item {
    .texto4{
        font-size: 12px;
        text-align-last: left;
    }
    
    .error{
        color: #B04B59;
        font-size: 12px;
        text-align: center;
        font-weight: 1000;
    }
}
