page-alterar-unidade {
    .acessos{
        text-align-last: center;
    }
    
    .error{
        color: #B04B59;
        font-size: 12px;
        text-align: center;
    }

    @media only screen and (min-width: 600px){

        .container{
            width: 60%;
            height: 100%;
            margin: auto;
        }

        .back{
            display: none 
        }
    }

    @media only screen and (max-width: 600px){
     
        .botao-acessa{
            display: none
        }
    }
}
